# Node modules
node_modules/

# Logs and debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Environment variables
.env
.env.local
.env.test
.env.production

# OS and editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Build artifacts
dist/
build/

# Dependencies Lock Files
package-lock.json
yarn.lock
